*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    color:white;
    position: relative;
}
.elem{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
h2{
    font-size: 6vh;
    font-weight: 400;
    margin-left: 20px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    position: absolute;
    opacity: 0;
    mix-blend-mode: difference;
}