*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}
#nav{
      width: 100%;
      height: 60px;
      background-color: rgb(58, 58, 58);  
      display:flex;
      justify-content: center;
      align-items: center;
      gap:30px;
      font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#nav a{
    font-size: 18px;
    color:white;
    text-decoration: none;
    letter-spacing: -.01em;
}

#nav i{
    font-size:20px;
    color: white;
}

#center{
    width: 100%;
    height : 80%;
    background-color:black;
    text-align:center;
    padding: 30px;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-image: url(./iphone17.jpg);
    background-size: cover;
    background-position: center;
}

#center h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
}

#center h4{
    font-size: 23px;
    font-weight: 100;
    color: white;
    margin-top: 10px;

}
#links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 20px;
}

#links button{
    background-color: royalblue;
    padding:13px 20px;
    border-radius: 50px;
    border:none;
    font-size: 17px;
    font-weight: 400;

}

