*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
}

.menu{
  width: 100%;
  height: 5%;
  background-color: aqua;
  display: flex;
  gap: 20px;
}

.menu .h2{
  font-size: 24px;
  font-weight: bold;
}