*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    width: 320px;
    height: 560px;
    background-color: black;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid white;
    position: relative;
}
#head{
    width: 100%;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:fantasy;
}
#stories{
    width: 100%;
    height: 110px;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #555;
}
#stories::-webkit-scrollbar{
    display: none;
}
#story{
    width: 85px;
    height: 85px;
    padding: 3px; /* border thickness */
    background: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
    );
    
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: 5px;
}
#story:active{
    scale: 1.05;
}
#story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
#first,#second{
    font-weight: 400;
    color: white;
    font-size: 22px;
}
#head h4{
    color: white;
    font-weight: 200;
    font-size: 22px;
}

#fullScreen{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
}