*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:70px;
}
#box{
    width:450px;
    height: 400px;
    background: linear-gradient(to right bottom,red ,blue);
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    border:2px solid white;
}
#box #upper,#lower{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
#upper{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#lower{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#box h2{
    font-size: 45px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 3px rgb(240, 228, 227);
}
#box h3{
    font-size: 28px;
    font-weight: 600;
    color: white;
}
#box h4{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
button{
    padding: 15px 40px;
    border-radius: 20px;
    background-color: cornflowerblue;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: white;
}
button:active{
    scale:0.95;
}