*{
    margin: 0px;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
button{
    padding:20px 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    z-index: 9;
}
button:active{
    scale: 0.95;
}