*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
  background-color: black;
}
#root{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 16px;
}
h1{
  font-size: 100px;
  color: white;
}
.buttonbox{
  display: flex;  
  gap: 30px;
}
button{
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background-color: rgb(61, 117, 228);
}
button:active{
  scale: 0.95;
}

