*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: black;
}
#root{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  width: 400px;
  height: 400px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(128, 39, 218);
  border-radius: 16px;
}
h3{
  font-size: 30px;
  font-weight: 400;
  color: white;
  margin-top: 50px;
}
button{
  margin-top: 25px;
  padding: 15px 40px;
  border: none;
  border-radius: 16px;
  background-color: rgb(81, 116, 245);
  font-size: 20px;
  font-weight: 400;
  color: white;
}
button:active{
  scale: 0.95;
}
.Wash{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-top: 50px;
  background-color: rgb(179, 129, 225);
  border-radius: 16px;
  padding: 10px 15px;
}