*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(150, 87, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 300px;
    height: 370px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

img{
    width: 100%;
    height: 50%;
    border-radius: 20px;
}
h2{
    font-size:30px;
    font-weight: 700;
    margin-top: 20px;
}
h4{
    font-size:24px;
    font-weight: 700;
    margin-top: 10px;
    color: red;
    margin-bottom: -5px;
}
button{
    margin-top:20px;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}