*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body,html{
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
}
.Navbar{
  width: 100%;
  height: 50px;
  display: flex;
}
.Left-nav{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  gap:40px; 
}
.Right-nav{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
i{
  font-size: 18px;
  padding-left: 20px;
}
.h3{
  font-size: 17px;
  font-weight: 500;
}
a{
  padding-right: 60px;
}

.Section{
  width: 100%;
  height: 95vh;
  display: flex;
}

.LeftSection{
  width: 40%;
  height: 95vh;
}

.Scores{
  width:100%;
  height:30%;
  display: flex;
  align-items: center;
}
.Score1{
  margin-left: 120px;
}
.Score2{
  margin-left: 50px;
}
h1{
  font-size: 37px;
  font-weight: 500;
}
h4{
  font-size: 16px;
  font-weight: 540;
}
.Hello{
  width:100%;
  height:300px;
  padding-top:100px;
}
.h1{
  font-size: 140px;
  font-weight: 100; 
  margin-left: 110px;
}
.Hello h3{
  font-size: 16px;
  font-weight: 200;
  margin-left: 120px;

}
.RightSection{
  width: 60%;
  height: 95vh;
}
.RightSection img{
  height: 679px;
  width: auto;
  object-fit: cover;
  margin-left:160px;
}
