*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 16px;   
    padding:20px; 
}
#image{
    width: 100%;
    height: 100%;
    background-color: brown;
    border-radius: 16px;
    position:relative;
    overflow: hidden;
}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}
#image i{
    position: absolute;
    font-size: 110px;
    background: linear-gradient(45deg, #f9ce34,#ee2a7b,#6228d7);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
    top: 50%;
    left:50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.3s;

}