*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.all-cards{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:18px;
  padding: 18px;
}
.cards{
  height: 350px;
  width: 355px;
  display: flex;
  gap:10px;
  border-radius: 16px;
}