*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
.main{
    width:100%;
    height: 100%;
    background-color: rgb(137, 173, 213);
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    width:270px;
    height:280px;
    border-radius: 10px;
    background-color: white;
    box-shadow:10px 10px 30px rgb(36, 35, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius:50%;
}

h2{
    font-size: 25px;
    font-weight: 700;
}
p{
    font-size: 14px;
    text-align: center;
    color: #888;
}

.card button{
    padding:10px 34px;
    border-radius:20px;
    background-color: rgb(86, 114, 228);
    border: 2px solid transparent;
    color: white;   
    font-weight: 700;
    cursor:pointer;
}

.card button:hover{
    background-color: rgb(245, 245, 247);
    color:rgb(86, 114, 228);
    border:2px solid rgb(86, 114, 228);
}