*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(150, 87, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 400px;
    height: 470px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    cursor:pointer;
}

#card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
#card i{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s;
}
