*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 140px auto auto auto;
    grid-template-areas: "header header header"
                         "aside top-section top-section"
                         "aside top-left top-right"
                         "aside bottom-left bottom-right ";
    padding:90px;
    gap:20px;
}

header{
    background-color: rgb(104, 98, 208);
    grid-area: header;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    font-size: 50px;
    color: white;
    font-weight: 600;
}
p{
    width:40%;
    font-size: 14px;
    color: white;
    text-align: center;

}
aside{
    background-color: aqua;
    grid-area: aside;
    border-radius: 16px;

}
top-section{
    background-color: rgb(19, 228, 113);
    grid-area: top-section;
    border-radius: 16px;

}
top-left{
    background-color: blueviolet;
    grid-area: top-left;
    border-radius: 16px;
}
top-right{
    background-color: brown;
    grid-area: top-right;
    border-radius: 16px;
}
bottom-left{
    background-color: rgb(25, 5, 101);
    grid-area: bottom-left;
    border-radius: 16px;
}
bottom-right{
    background-color: rgb(12, 224, 153);
    grid-area: bottom-right;
    border-radius: 16px;
}