*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(226, 163, 129);
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap :20px
}
.btn{
    width: 100%;
    height: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 40px
}
h2{
    font-size: 60px;
    color: rgb(240, 236, 236);
    
}

button{
    font-size: 20px;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 16px;
    
    font-weight: 600;
    background-color: blueviolet;
}