*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height:100%;
    background-color: rgb(211, 112, 112);
}

.main{
    width: 100%;
    height: 100%;
    /* background-image: url(./Cl11Pr0001.avif); */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:80px;
}

h1{
    font-size:100px;
    color:white;
    text-transform: uppercase;

}

button{
    margin-top:40px;
    padding:15px 60px;
    border-radius:5px;
    border:none;
    font-size: 20px;
}