*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: rgb(239, 237, 237);
    padding:20px;
}

.card{
    width: 290px;
    height: 280px;
    border-radius: 10px;
    background-color: brown;
    position:relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer{
    height:30%;
    width: 100%;
    padding:10px;
    position: absolute;
    background:linear-gradient(transparent,black);
    bottom:-30%;
    transition: all ease 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover .footer{
    bottom: 0%;
    color:white;
}

.footer h2{
    font-size:35px;
    font-weight: 600;
}
.footer h4{
    font-size: 25px;
    background-color: rgb(232, 226, 226);
    padding:6px 8px;
    color:black;
    border-radius: 50%;
}
.footer i{
    margin-top:10%;
}